# Chicago Preparation 1

This Notebook cleans the Chicago Crime Dataset. This dataset dates back to 2001, so we will need to filter the years we require. We will also get ride of any unnecessary columns and check for null values.

### Loading in the data

In [1]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

The full Chicago crime dataset is loaded in...

In [2]:
if not os.path.exists( "../../data/raw/Crimes_-_2001_to_presentday.csv" ):
    print("Missing dataset file")

The Date column is made the index...

In [3]:
chicago = pd.read_csv( "../../data/raw/Crimes_-_2001_to_presentday.csv", index_col="Date", parse_dates=True)

In [4]:
chicago.head()

,ID,Case Number,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
Date,,,,,,,,,,,,,,,,,,,,,
2015-03-18 19:44:00,10000092,HY189866,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,1111,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
2015-03-18 23:00:00,10000094,HY190059,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,725,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2015-03-18 22:45:00,10000095,HY190052,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,222,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
2015-03-18 22:30:00,10000096,HY190054,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,225,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
2015-03-18 21:00:00,10000097,HY189976,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,1113,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [5]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6567463 entries, 2015-03-18 19:44:00 to 2014-07-11 06:00:00
Data columns (total 21 columns):
ID                      int64
Case Number             object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                object
X Coordinate            float64
Y Coordinate            float64
Year                    int64
Updated On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(9)
memory usage: 1014.6+ MB

Checking the amount of null values...

In [6]:
chicago.isnull().sum()

ID                           0
Case Number                  4
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      3310
Arrest                       0
Domestic                     0
Beat                         0
District                    51
Ward                    614853
Community Area          616029
FBI Code                     0
X Coordinate             58258
Y Coordinate             58258
Year                         0
Updated On                   0
Latitude                 58258
Longitude                58258
Location                 58258
dtype: int64

### Dropping Columns

The following columns are dropped as they are not needed. We do not any of the location types or X and Y Coordinates for our project. We are also not interested in things like FBI code and the date the crime was updated on

In [7]:
chicago = chicago.drop('IUCR', 1)

In [8]:
chicago = chicago.drop('FBI Code', 1)

In [9]:
chicago = chicago.drop('Updated On', 1)

In [10]:
chicago = chicago.drop('Arrest', 1)

In [11]:
chicago = chicago.drop('Beat', 1)

In [12]:
chicago = chicago.drop('Block', 1)

In [13]:
chicago = chicago.drop('Ward', 1)

In [14]:
chicago = chicago.drop('Community Area', 1)

In [15]:
chicago = chicago.drop('District', 1)

In [16]:
chicago = chicago.drop('X Coordinate', 1)

In [17]:
chicago = chicago.drop('Y Coordinate', 1)

In [18]:
chicago.head()

,ID,Case Number,Primary Type,Description,Location Description,Domestic,Year,Latitude,Longitude,Location
Date,,,,,,,,,,
2015-03-18 19:44:00,10000092,HY189866,BATTERY,AGGRAVATED: HANDGUN,STREET,False,2015,41.891399,-87.744385,"(41.891398861, -87.744384567)"
2015-03-18 23:00:00,10000094,HY190059,OTHER OFFENSE,PAROLE VIOLATION,STREET,False,2015,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2015-03-18 22:45:00,10000095,HY190052,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,2015,41.813861,-87.596643,"(41.81386068, -87.596642837)"
2015-03-18 22:30:00,10000096,HY190054,BATTERY,SIMPLE,APARTMENT,False,2015,41.800802,-87.622619,"(41.800802415, -87.622619343)"
2015-03-18 21:00:00,10000097,HY189976,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,2015,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [19]:
chicago.shape

(6567463, 10)

### Filtering out years

We delete all years up to 2007 as that is the first year of our NBA dataset.

In [20]:
chicago = chicago.drop(chicago[chicago.Year == 2001].index)
chicago = chicago.drop(chicago[chicago.Year == 2002].index)
chicago = chicago.drop(chicago[chicago.Year == 2003].index)
chicago = chicago.drop(chicago[chicago.Year == 2004].index)
chicago = chicago.drop(chicago[chicago.Year == 2005].index)
chicago = chicago.drop(chicago[chicago.Year == 2006].index)

In [21]:
chicago.ID.duplicated().sum()

0

A look at the different crimes...
Some of them will fall into the category of assult, vandalism or domestic violence without being named so.

### Focusing on certain crimes

In [22]:
pt = chicago.groupby('Primary Type')[('ID')].count()
pt.sort_values(ascending = False)

Primary Type
THEFT                                810238
BATTERY                              670819
CRIMINAL DAMAGE                      420913
NARCOTICS                            376582
ASSAULT                              230443
OTHER OFFENSE                        229142
BURGLARY                             228889
DECEPTIVE PRACTICE                   166783
MOTOR VEHICLE THEFT                  165364
ROBBERY                              147103
CRIMINAL TRESPASS                     99924
WEAPONS VIOLATION                     41957
PUBLIC PEACE VIOLATION                30939
PROSTITUTION                          28494
OFFENSE INVOLVING CHILDREN            27175
CRIM SEXUAL ASSAULT                   16096
SEX OFFENSE                           12571
INTERFERENCE WITH PUBLIC OFFICER      11185
GAMBLING                               7678
LIQUOR LAW VIOLATION                   6379
HOMICIDE                               5706
ARSON                                  5703
KIDNAPPING                             2883
STALKING                               1983
INTIMIDATION                           1954
OBSCENITY                               415
CONCEALED CARRY LICENSE VIOLATION       172
NON-CRIMINAL                            142
PUBLIC INDECENCY                        110
OTHER NARCOTIC VIOLATION                 83
HUMAN TRAFFICKING                        39
NON - CRIMINAL                           38
NON-CRIMINAL (SUBJECT SPECIFIED)          6
RITUALISM                                 1
Name: ID, dtype: int64

Getting rid of all crimes that don't fall into these categories...

In [23]:
chicago = chicago[chicago['Primary Type'] != 'RITUALISM']
chicago = chicago[chicago['Primary Type'] != 'NON-CRIMINAL (SUBJECT SPECIFIED)']
chicago = chicago[chicago['Primary Type'] != 'NON - CRIMINAL']
chicago = chicago[chicago['Primary Type'] != 'HUMAN TRAFFICKING']
chicago = chicago[chicago['Primary Type'] != 'OTHER NARCOTIC VIOLATION']
chicago = chicago[chicago['Primary Type'] != 'NON-CRIMINAL']
chicago = chicago[chicago['Primary Type'] != 'PUBLIC INDECENCY']
chicago = chicago[chicago['Primary Type'] != 'CONCEALED CARRY LICENSE VIOLATION']
chicago = chicago[chicago['Primary Type'] != 'STALKING']
chicago = chicago[chicago['Primary Type'] != 'INTIMIDATION']
chicago = chicago[chicago['Primary Type'] != 'KIDNAPPING']
chicago = chicago[chicago['Primary Type'] != 'HOMICIDE']
chicago = chicago[chicago['Primary Type'] != 'LIQUOR LAW VIOLATION']
chicago = chicago[chicago['Primary Type'] != 'GAMBLING']
chicago = chicago[chicago['Primary Type'] != 'INTERFERENCE WITH PUBLIC OFFICER']
chicago = chicago[chicago['Primary Type'] != 'SEX OFFENSE']
chicago = chicago[chicago['Primary Type'] != 'CRIM SEXUAL ASSAULT']
chicago = chicago[chicago['Primary Type'] != 'CRIMINAL TRESPASS']
chicago = chicago[chicago['Primary Type'] != 'PUBLIC PEACE VIOLATION']
chicago = chicago[chicago['Primary Type'] != 'WEAPONS VIOLATION']
chicago = chicago[chicago['Primary Type'] != 'PROSTITUTION']
chicago = chicago[chicago['Primary Type'] != 'DECEPTIVE PRACTICE']
chicago = chicago[chicago['Primary Type'] != 'ROBBERY']
chicago = chicago[chicago['Primary Type'] != 'MOTOR VEHICLE THEFT']
chicago = chicago[chicago['Primary Type'] != 'BURGLARY']
chicago = chicago[chicago['Primary Type'] != 'OTHER OFFENSE']
chicago = chicago[chicago['Primary Type'] != 'NARCOTICS']
chicago = chicago[chicago['Primary Type'] != 'THEFT']

In [24]:
pt = chicago.groupby('Primary Type')[('ID')].count()
pt.sort_values(ascending = False)

Primary Type
BATTERY                       670819
CRIMINAL DAMAGE               420913
ASSAULT                       230443
OFFENSE INVOLVING CHILDREN     27175
ARSON                           5703
OBSCENITY                        415
Name: ID, dtype: int64

In [25]:
chicago.head()

,ID,Case Number,Primary Type,Description,Location Description,Domestic,Year,Latitude,Longitude,Location
Date,,,,,,,,,,
2015-03-18 19:44:00,10000092,HY189866,BATTERY,AGGRAVATED: HANDGUN,STREET,False,2015,41.891399,-87.744385,"(41.891398861, -87.744384567)"
2015-03-18 22:45:00,10000095,HY190052,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,2015,41.813861,-87.596643,"(41.81386068, -87.596642837)"
2015-03-18 22:30:00,10000096,HY190054,BATTERY,SIMPLE,APARTMENT,False,2015,41.800802,-87.622619,"(41.800802415, -87.622619343)"
2015-03-18 22:00:00,10000098,HY190032,BATTERY,SIMPLE,APARTMENT,False,2015,41.805443,-87.604284,"(41.805443345, -87.604283976)"
2015-03-18 23:00:00,10000099,HY190047,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,2015,41.766403,-87.649296,"(41.766402779, -87.649296123)"

In [26]:
chicago.shape

(1355468, 10)

The new dataframe is saved to a new csv file. This will make it easier to load.

In [28]:
chicago.to_csv('../../data/prep/100_Chicago.csv')