# Los Angeles Preparation

### Loading in the data

In [1]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
if not os.path.exists( "../../data/raw/LA_Crime_Data_from_2010_to_Present.csv" ):
    print("Missing dataset file")

In [3]:
la = pd.read_csv( "../../data/raw/LA_Crime_Data_from_2010_to_Present.csv", index_col="Date Occurred", parse_dates=True)

In [4]:
la.head(n=50)

,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
Date Occurred,,,,,,,,,,,,,,,,,,,,,
2013-03-11,1208575,03/14/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,30.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
2010-01-22,102005556,01/25/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2013-03-18,418,03/19/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,12.0,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
2010-11-10,101822289,11/11/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
2014-01-04,42104479,01/11/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,84.0,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
2013-01-08,120125367,01/08/2013,1400,1,Central,111,110,CRIMINAL HOMICIDE,1243 2000 1813 1814 2002 0416 0400,49.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,110.0,NaN,NaN,NaN,600 N HILL ST,NaN,"(34.0591, -118.2412)"
2010-01-27,101105609,01/28/2010,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"(34.1211, -118.2048)"
2010-11-07,101620051,11/11/2010,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"(34.241, -118.3987)"
2010-04-07,101910498,04/07/2010,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"(34.3147, -118.4589)"
2013-01-15,120908292,03/29/2013,800,9,Van Nuys,904,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344 1300,27.0,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,7200 SEPULVEDA BL,NaN,"(34.2012, -118.4662)"
2010-12-30,101927640,12/31/2010,2100,19,Mission,1964,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,NORDHOFF,TOBIAS,"(34.2354, -118.4517)"
2010-10-26,101323794,10/26/2010,1315,13,Newton,1321,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,21ST,BROADWAY,"(34.0294, -118.2671)"
2013-02-13,121207315,02/22/2013,1200,12,77th Street,1266,440,THEFT PLAIN - PETTY ($950 & UNDER),1300 0701 1402,42.0,...,NaN,IC,Invest Cont,440.0,998.0,NaN,NaN,82ND,BROADWAY,"(33.9651, -118.2783)"
2013-06-07,121215506,06/20/2013,1200,12,77th Street,1268,763,STALKING,0443 0913 1309,29.0,...,NaN,AO,Adult Other,763.0,NaN,NaN,NaN,100 W 82ND ST,NaN,"(33.9651, -118.2754)"
2013-01-06,121504289,01/06/2013,2030,15,N Hollywood,1511,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),1402 0325,12.0,...,NaN,IC,Invest Cont,442.0,998.0,NaN,NaN,13000 SHERMAN WY,NaN,"(34.2012, -118.416)"
2013-01-01,121801608,01/02/2013,500,18,Southeast,1823,626,INTIMATE PARTNER - SIMPLE ASSAULT,0334 0443 0408 0416,19.0,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,CENTURY BL,AVALON,"(33.9456, -118.2652)"
2013-01-02,130100507,01/02/2013,1420,1,Central,174,624,BATTERY - SIMPLE ASSAULT,0416 0400 0429,23.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,800 S SPRING ST,NaN,"(34.0431, -118.2536)"
2013-01-02,130100508,01/02/2013,1430,1,Central,134,626,INTIMATE PARTNER - SIMPLE ASSAULT,2004 1218 1813 1814 2002 0444 2000,39.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,4TH,HILL,"(34.0503, -118.2504)"
2013-01-02,130100509,01/02/2013,1500,1,Central,185,624,BATTERY - SIMPLE ASSAULT,0917 0419 0429 0417,18.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",JA,Juv Arrest,624.0,NaN,NaN,NaN,300 E PICO BL,NaN,"(34.0352, -118.2583)"
2013-01-04,130100515,01/05/2013,1730,1,Central,162,670,"EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)",344,25.0,...,NaN,IC,Invest Cont,670.0,NaN,NaN,NaN,700 W 7TH ST,NaN,"(34.048, -118.2577)"
2013-01-05,130100518,01/05/2013,100,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,34.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
2013-01-05,130100519,01/05/2013,2200,1,Central,192,649,DOCUMENT FORGERY / STOLEN FELONY,800,37.0,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,1300 S FIGUEROA ST,NaN,"(34.0407, -118.268)"
2013-01-05,130100521,01/05/2013,1600,1,Central,156,626,INTIMATE PARTNER - SIMPLE ASSAULT,0305 0400 0429 2000,50.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6TH ST,SAN JULIAN ST,"(34.0423, -118.2452)"
2013-01-05,130100522,01/15/2013,2010,1,Central,133,624,BATTERY - SIMPLE ASSAULT,400,20.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,200 S SPRING ST,NaN,"(34.0517, -118.2456)"
2013-01-06,130100526,01/06/2013,2315,1,Central,166,624,BATTERY - SIMPLE ASSAULT,0400 2000,32.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,999.0,NaN,NaN,600 WALL ST,NaN,"(34.0435, -118.2471)"
2013-01-09,130100532,01/09/2013,1120,1,Central,192,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,18.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,1300 S HOPE ST,NaN,"(34.0395, -118.2656)"
2010-04-20,101009426,04/20/2010,1230,10,West Valley,1018,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,ARMINTA,GLORIA,"(34.2139, -118.4793)"
2013-01-11,130100538,01/12/2013,1630,1,Central,119,480,BIKE - STOLEN,344,30.0,...,NaN,AA,Adult Arrest,480.0,NaN,NaN,NaN,900 N ALAMEDA ST,NaN,"(34.0581, -118.2371)"
2013-01-12,130100539,01/12/2013,1815,1,Central,105,210,ROBBERY,1218 1310 0344 0400 0352,24.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,BISHOPS,BROADWAY,"(34.0688, -118.2333)"
2013-01-12,130100544,01/12/2013,1930,1,Central,144,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 2000 0429,48.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,400 S MAIN ST,NaN,"(34.0482, -118.2472)"
2013-01-10,130100545,01/13/2013,300,1,Central,166,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,0507 2004 0503 0519 0516 0501 0506 0400,18.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,821.0,NaN,NaN,NaN,6TH,SAN JULIAN,"(34.0423, -118.2452)"
2013-01-13,130100546,01/13/2013,140,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,1402 0416 2000,27.0,...,NaN,AO,Adult Other,626.0,998.0,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
2013-01-13,130100547,01/13/2013,140,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0400 0408,24.0,...,NaN,AO,Adult Other,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
2013-01-13,130100548,01/13/2013,1225,1,Central,134,220,ATTEMPTED ROBBERY,0432 0355 0421 0319 0906,45.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,220.0,NaN,NaN,NaN,3RD,BROADWAY,"(34.051, -118.248)"
2013-01-16,130100550,01/18/2013,1340,1,Central,111,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0419,50.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,626.0,NaN,NaN,NaN,800 YALE ST,NaN,"(34.0632, -118.2408)"
2013-01-16,130100552,01/16/2013,1900,1,Central,138,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1202 1307,60.0,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,BOYD,WALL ST,"(34.0467, -118.2427)"
2013-01-16,130100554,01/16/2013,2110,1,Central,159,437,RESISTING ARREST,1402 2004 1212,NaN,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,437.0,998.0,NaN,NaN,4TH ST,MOLINO ST,"(34.043, -118.2341)"
2013-01-18,130100558,01/18/2013,1800,1,Central,166,888,TRESPASSING,1402 0344 1218 0306,45.0,...,NaN,AA,Adult Arrest,888.0,NaN,NaN,NaN,600 S SAN PEDRO ST,NaN,"(34.0423, -118.2452)"
2013-01-17,130100561,01/19/2013,2200,1,Central,162,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1402 0344 0104,40.0,...,NaN,IC,Invest Cont,341.0,998.0,NaN,NaN,600 W 9TH ST,NaN,"(34.0451, -118.2604)"
2013-01-20,130100564,01/20/2013,1430,1,Central,135,210,ROBBERY,0326 0325 0344 0400 1300 1402,NaN,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,998.0,NaN,NaN,2ND,LOS ANGELES,"(34.0503, -118.2433)"
2010-12-21,101621795,12/21/2010,1200,16,Foothill,1653,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,SAN FERNANDO,SUNBURST,"(34.255, -118.4103)"
2013-01-18,130100565,01/20/2013,1700,1,Central,182,660,COUNTERFEIT,0344 1402,23.0,...,NaN,IC,Invest Cont,660.0,998.0,NaN,NaN,500 W OLYMPIC BL,NaN,"(34.043, -118.2606)"
2010-02-03,101105990,02/04/2010,1800,11,Northeast,1115,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YOSEMITE,EAGLE ROCK,"(34.1351, -118.2153)"
2013-01-20,130100566,01/20/2013,1855,1,Central,111,624,BATTERY - SIMPLE ASSAULT,0429 0305 0400,NaN,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,900 N BROADWAY,NaN,"(34.064, -118.2375)"
2013-01-21,130100569,01/22/2013,1055,1,Central,147,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",2004 0416,46.0,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,230.0,NaN,NaN,NaN,4TH,SAN PEDRO,"(34.0458, -118.243)"
2013-01-21,130100571,01/22/2013,2105,1,Central,111,647,THROWING OBJECT AT MOVING VEHICLE,NaN,22.0,...,NaN,IC,Invest Cont,647.0,NaN,NaN,NaN,900 W SUNSET BL,NaN,"(34.0627, -118.2463)"
2013-01-21,130100572,01/22/2013,2015,1,Central,166,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 2004,49.0,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,230.0,NaN,NaN,NaN,7TH,WALL,"(34.0412, -118.2474)"
2013-01-22,130100573,01/22/2013,300,1,Central,119,951,"DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 &...",NaN,53.0,...,NaN,IC,Invest Cont,951.0,NaN,NaN,NaN,500 RAMIREZ ST,NaN,"(34.0552, -118.2322)"
2013-01-26,130100580,01/26/2013,1530,1,Central,145,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1000 0334 0432 0340 2004 0319 1402,36.0,...,OTHER KNIFE,AA,Adult Arrest,930.0,998.0,NaN,NaN,MAIN,WINSTON,"(34.0476, -118.2477)"
2013-01-25,130100583,01/25/2013,2305,1,Central,185,210,ROBBERY,1402 0344,57.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,210.0,998.0,NaN,NaN,100 W OLYMPIC BL,NaN,"(34.0405, -118.2567)"

In [5]:
la.head()

,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
Date Occurred,,,,,,,,,,,,,,,,,,,,,
2013-03-11,1208575,03/14/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,30.0,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
2010-01-22,102005556,01/25/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2013-03-18,418,03/19/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,12.0,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
2010-11-10,101822289,11/11/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
2014-01-04,42104479,01/11/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,84.0,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [6]:
la = la.reset_index()

In [7]:
la.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
Date Occurred             1048575 non-null datetime64[ns]
DR Number                 1048575 non-null int64
Date Reported             1048575 non-null object
Time Occurred             1048575 non-null int64
Area ID                   1048575 non-null int64
Area Name                 1048575 non-null object
Reporting District        1048575 non-null int64
Crime Code                1048575 non-null int64
Crime Code Description    1048552 non-null object
MO Codes                  935298 non-null object
Victim Age                957823 non-null float64
Victim Sex                955242 non-null object
Victim Descent            955219 non-null object
Premise Code              1048520 non-null float64
Premise Description       1048053 non-null object
Weapon Used Code          348115 non-null float64
Weapon Description        348114 non-null object
Status Code               1048573 non-null object
Status Description        1048575 non-null object
Crime Code 1              1048569 non-null float64
Crime Code 2              64694 non-null float64
Crime Code 3              1108 non-null float64
Crime Code 4              39 non-null float64
Address                   1048575 non-null object
Cross Street              175628 non-null object
Location                  1048573 non-null object
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 208.0+ MB

In [8]:
la['Date Occurred'] = la['Date Occurred'].apply(str)

In [9]:
la.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
Date Occurred             1048575 non-null object
DR Number                 1048575 non-null int64
Date Reported             1048575 non-null object
Time Occurred             1048575 non-null int64
Area ID                   1048575 non-null int64
Area Name                 1048575 non-null object
Reporting District        1048575 non-null int64
Crime Code                1048575 non-null int64
Crime Code Description    1048552 non-null object
MO Codes                  935298 non-null object
Victim Age                957823 non-null float64
Victim Sex                955242 non-null object
Victim Descent            955219 non-null object
Premise Code              1048520 non-null float64
Premise Description       1048053 non-null object
Weapon Used Code          348115 non-null float64
Weapon Description        348114 non-null object
Status Code               1048573 non-null object
Status Description        1048575 non-null object
Crime Code 1              1048569 non-null float64
Crime Code 2              64694 non-null float64
Crime Code 3              1108 non-null float64
Crime Code 4              39 non-null float64
Address                   1048575 non-null object
Cross Street              175628 non-null object
Location                  1048573 non-null object
dtypes: float64(7), int64(5), object(14)
memory usage: 208.0+ MB

In [10]:
la.head()

,Date Occurred,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,2013-03-11 00:00:00,1208575,03/14/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,2010-01-22 00:00:00,102005556,01/25/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,2013-03-18 00:00:00,418,03/19/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,2010-11-10 00:00:00,101822289,11/11/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,2014-01-04 00:00:00,42104479,01/11/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

### Sorting Date and Time

In [11]:
la['Date Occurred'] = la['Date Occurred'].str.split(' ').str[0]

In [12]:
la.head()

,Date Occurred,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,2013-03-11,1208575,03/14/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,2010-01-22,102005556,01/25/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,2013-03-18,418,03/19/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,2010-11-10,101822289,11/11/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,2014-01-04,42104479,01/11/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [13]:
la['Time Occurred'] = la['Time Occurred'].apply(str)

In [14]:
la['Date'] = la['Date Occurred'] + ' ' + la['Time Occurred']

In [15]:
la.head()

,Date Occurred,DR Number,Date Reported,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Date
0,2013-03-11,1208575,03/14/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)",2013-03-11 1800
1,2010-01-22,102005556,01/25/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)",2010-01-22 2300
2,2013-03-18,418,03/19/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)",2013-03-18 2030
3,2010-11-10,101822289,11/11/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)",2010-11-10 1800
4,2014-01-04,42104479,01/11/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,...,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",2014-01-04 2300

In [16]:
def totime(date):
    date, time = date.split()
    if len(time) <= 2:
        time = "00" + time
    
    return pd.to_datetime(' '.join([date, time]), format="%Y-%m-%d %H%M")

In [17]:
totime('2013-02-09 5')

Timestamp('2013-02-09 00:05:00')

In [18]:
la['Date'] = la['Date'].apply(lambda x: totime(x))

In [19]:
la = la.set_index('Date')

### Dropping Columns

In [20]:
la = la.drop('Date Reported', 1)

In [21]:
la = la.drop('Reporting District', 1)

In [22]:
la = la.drop('MO Codes', 1)
la = la.drop('Victim Age', 1)

In [23]:
la = la.drop('Weapon Description', 1)
la = la.drop('Status Code', 1)
la = la.drop('Status Description', 1)
la = la.drop('Crime Code 1', 1)
la = la.drop('Crime Code 2', 1)
la = la.drop('Crime Code 3', 1)
la = la.drop('Crime Code 4', 1)
la = la.drop('Cross Street', 1)
la = la.drop('DR Number', 1)

In [24]:
la.head()

,Date Occurred,Time Occurred,Area ID,Area Name,Crime Code,Crime Code Description,Victim Sex,Victim Descent,Premise Code,Premise Description,Weapon Used Code,Address,Location
Date,,,,,,,,,,,,,
2013-03-11 18:00:00,2013-03-11,1800,12,77th Street,626,INTIMATE PARTNER - SIMPLE ASSAULT,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,6300 BRYNHURST AV,"(33.9829, -118.3338)"
2010-01-22 23:00:00,2010-01-22,2300,20,Olympic,510,VEHICLE - STOLEN,NaN,NaN,101.0,STREET,NaN,VAN NESS,"(34.0454, -118.3157)"
2013-03-18 20:30:00,2013-03-18,2030,18,Southeast,510,VEHICLE - STOLEN,NaN,NaN,101.0,STREET,NaN,200 E 104TH ST,"(33.942, -118.2717)"
2010-11-10 18:00:00,2010-11-10,1800,18,Southeast,510,VEHICLE - STOLEN,NaN,NaN,101.0,STREET,NaN,88TH,"(33.9572, -118.2717)"
2014-01-04 23:00:00,2014-01-04,2300,21,Topanga,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),M,W,501.0,SINGLE FAMILY DWELLING,NaN,7200 CIRRUS WY,"(34.2009, -118.6369)"

In [25]:
la = la.drop('Victim Sex', 1)
la = la.drop('Victim Descent', 1)
la = la.drop('Premise Code', 1)
la = la.drop('Area ID', 1)
la = la.drop('Area Name', 1)
la = la.drop('Crime Code', 1)
la = la.drop('Weapon Used Code', 1)
la = la.drop('Address', 1)

In [26]:
pt = la.groupby('Crime Code Description')[('Time Occurred')].count()
pt.sort_values(ascending = False)

Crime Code Description
BATTERY - SIMPLE ASSAULT                                        102985
BURGLARY FROM VEHICLE                                            81533
VEHICLE - STOLEN                                                 78536
BURGLARY                                                         78395
THEFT PLAIN - PETTY ($950 & UNDER)                               78002
THEFT OF IDENTITY                                                68476
INTIMATE PARTNER - SIMPLE ASSAULT                                55105
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                         50540
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114     49397
ROBBERY                                                          42391
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT                   42103
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD0036     40433
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)                  38593
CRIMINAL THREATS - NO WEAPON DISPLAYED                           31912
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                         20241
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)                 14002
DOCUMENT FORGERY / STOLEN FELONY                                 12825
OTHER MISCELLANEOUS CRIME                                        12240
LETTERS, LEWD                                                    12115
VIOLATION OF COURT ORDER                                         11898
VIOLATION OF RESTRAINING ORDER                                    8509
TRESPASSING                                                       8266
BURGLARY, ATTEMPTED                                               6691
THEFT, PERSON                                                     6659
ATTEMPTED ROBBERY                                                 6113
BATTERY WITH SEXUAL CONTACT                                       5403
CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)0060      4991
CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT                           4707
RAPE, FORCIBLE                                                    4577
BRANDISH WEAPON                                                   4132
                                                                 ...
TELEPHONE PROPERTY - DAMAGE                                         26
CONSPIRACY                                                          25
PURSE SNATCHING - ATTEMPT                                           25
DISRUPT SCHOOL                                                      25
BRIBERY                                                             24
FAILURE TO DISPERSE                                                 18
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM0065        15
PETTY THEFT - AUTO REPAIR                                           14
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                        13
DOCUMENT WORTHLESS ($200 & UNDER)                                   12
DRUNK ROLL                                                          11
LYNCHING - ATTEMPTED                                                11
DRUGS, TO A MINOR                                                   11
GRAND THEFT / AUTO REPAIR                                           10
BIGAMY                                                               9
THEFT, COIN MACHINE - ATTEMPT                                        7
INCITING A RIOT                                                      6
TILL TAP - GRAND THEFT ($950.01 & OVER)                              6
BIKE - ATTEMPTED STOLEN                                              6
PICKPOCKET, ATTEMPT                                                  5
DISHONEST EMPLOYEE ATTEMPTED THEFT                                   4
ABORTION/ILLEGAL                                                     3
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)0132         3
SEXUAL PENETRATION W/FOREIGN OBJECT                                  2
TILL TAP - ATTEMPT                                                   2
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                         2
DRUNK ROLL - ATTEMPT                                                 1
SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ0059         1
LEWD/LASCIVIOUS ACTS WITH CHILD                                      1
MANSLAUGHTER, NEGLIGENT                                              1
Name: Time Occurred, Length: 135, dtype: int64

### Sorting Crimes

In [27]:
t1 = la[la['Crime Code Description'] == "BATTERY - SIMPLE ASSAULT"]
t2 = la[la['Crime Code Description'] == "INTIMATE PARTNER - SIMPLE ASSAULT"]
t3 = la[la['Crime Code Description'] == "VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS) 0114"]
t4 = la[la['Crime Code Description'] == "VANDALISM - MISDEAMEANOR ($399 OR UNDER)"]
t5 = la[la['Crime Code Description'] == "ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT"]
t6 = la[la['Crime Code Description'] == "INTIMATE PARTNER - AGGRAVATED ASSAULT"]
t7 = la[la['Crime Code Description'] == "BATTERY POLICE (SIMPLE)"]
t8 = la[la['Crime Code Description'] == "ARSON"]
t9 = la[la['Crime Code Description'] == "THROWING OBJECT AT MOVING VEHICLE"]
t10 = la[la['Crime Code Description'] == "ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER"]
t11 = la[la['Crime Code Description'] == "CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT"]
t12 = la[la['Crime Code Description'] == "OTHER ASSAULT"]

In [28]:
frames = [t1, t2, t3, t4, t5, t6, t7, t8, t9, t10, t11, t12]
la = pd.concat(frames)

frames1 = [t1, t5, t7, t10, t12]
assault = pd.concat(frames1)

frames2 = [t2, t6, t11]
domestic = pd.concat(frames2)

frames3 = [t3, t4, t8, t9]
vandalism = pd.concat(frames3)

In [29]:
la.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 310091 entries, 2013-01-02 14:20:00 to 2015-05-19 12:00:00
Data columns (total 5 columns):
Date Occurred             310091 non-null object
Time Occurred             310091 non-null object
Crime Code Description    310091 non-null object
Premise Description       309948 non-null object
Location                  310091 non-null object
dtypes: object(5)
memory usage: 14.2+ MB

In [30]:
la.shape

(310091, 5)

In [31]:
la.isnull().sum()

Date Occurred               0
Time Occurred               0
Crime Code Description      0
Premise Description       143
Location                    0
dtype: int64

In [32]:
la.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 310091 entries, 2013-01-02 14:20:00 to 2015-05-19 12:00:00
Data columns (total 5 columns):
Date Occurred             310091 non-null object
Time Occurred             310091 non-null object
Crime Code Description    310091 non-null object
Premise Description       309948 non-null object
Location                  310091 non-null object
dtypes: object(5)
memory usage: 14.2+ MB

In [33]:
domestic.head()

,Date Occurred,Time Occurred,Crime Code Description,Premise Description,Location
Date,,,,,
2013-03-11 18:00:00,2013-03-11,1800,INTIMATE PARTNER - SIMPLE ASSAULT,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.9829, -118.3338)"
2013-01-01 05:00:00,2013-01-01,500,INTIMATE PARTNER - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,"(33.9456, -118.2652)"
2013-01-02 14:30:00,2013-01-02,1430,INTIMATE PARTNER - SIMPLE ASSAULT,STREET,"(34.0503, -118.2504)"
2013-01-05 10:00:00,2013-01-05,100,INTIMATE PARTNER - SIMPLE ASSAULT,NIGHT CLUB (OPEN EVENINGS ONLY),"(34.045, -118.264)"
2013-01-05 16:00:00,2013-01-05,1600,INTIMATE PARTNER - SIMPLE ASSAULT,SIDEWALK,"(34.0423, -118.2452)"

In [34]:
domestic['Crime Code Description'] = domestic['Crime Code Description'].apply(lambda x: str ('Domestic'))

In [35]:
domestic.head()

,Date Occurred,Time Occurred,Crime Code Description,Premise Description,Location
Date,,,,,
2013-03-11 18:00:00,2013-03-11,1800,Domestic,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.9829, -118.3338)"
2013-01-01 05:00:00,2013-01-01,500,Domestic,SINGLE FAMILY DWELLING,"(33.9456, -118.2652)"
2013-01-02 14:30:00,2013-01-02,1430,Domestic,STREET,"(34.0503, -118.2504)"
2013-01-05 10:00:00,2013-01-05,100,Domestic,NIGHT CLUB (OPEN EVENINGS ONLY),"(34.045, -118.264)"
2013-01-05 16:00:00,2013-01-05,1600,Domestic,SIDEWALK,"(34.0423, -118.2452)"

In [36]:
assault['Crime Code Description'] = assault['Crime Code Description'].apply(lambda x: str ('Assault'))

In [37]:
vandalism['Crime Code Description'] = vandalism['Crime Code Description'].apply(lambda x: str ('Vandalism'))

In [38]:
frames4 = [vandalism, domestic, assault]
la_full = pd.concat(frames4, axis = 0)

In [39]:
la_full.head()

,Date Occurred,Time Occurred,Crime Code Description,Premise Description,Location
Date,,,,,
2013-01-31 21:50:00,2013-01-31,2150,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,2013-02-16,2140,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,2013-03-19,2130,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,2013-05-27,2220,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,2013-06-01,230,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"

In [40]:
la_full.isnull().sum()

Date Occurred               0
Time Occurred               0
Crime Code Description      0
Premise Description       143
Location                    0
dtype: int64

In [41]:
la_full.rename(columns={'Time Occurred': 'Time', 'Crime Code Description': 'Primary Type'}, inplace=True)

In [42]:
la_full.head()

,Date Occurred,Time,Primary Type,Premise Description,Location
Date,,,,,
2013-01-31 21:50:00,2013-01-31,2150,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,2013-02-16,2140,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,2013-03-19,2130,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,2013-05-27,2220,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,2013-06-01,230,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"

In [43]:
la_full

,Date Occurred,Time,Primary Type,Premise Description,Location
Date,,,,,
2013-01-31 21:50:00,2013-01-31,2150,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,2013-02-16,2140,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,2013-03-19,2130,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,2013-05-27,2220,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,2013-06-01,230,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"
2013-07-30 04:30:00,2013-07-30,430,Vandalism,CLOTHING STORE,"(34.0364, -118.2603)"
2013-09-01 08:35:00,2013-09-01,835,Vandalism,OTHER BUSINESS,"(34.051, -118.2445)"
2013-09-13 19:30:00,2013-09-13,1930,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0405, -118.2567)"
2013-09-28 15:45:00,2013-09-28,1545,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0383, -118.2633)"
2013-10-03 15:55:00,2013-10-03,1555,Vandalism,STREET,"(34.0423, -118.2452)"
2013-10-06 22:00:00,2013-10-06,2200,Vandalism,SIDEWALK,"(34.0363, -118.2619)"
2013-10-15 22:20:00,2013-10-15,2220,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0717, -118.2493)"
2013-11-10 00:15:00,2013-11-10,15,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0495, -118.2494)"
2013-11-09 21:15:00,2013-11-09,2115,Vandalism,ALLEY,"(34.0391, -118.2581)"
2013-11-20 20:00:00,2013-11-20,2000,Vandalism,OFFICE BUILDING/OFFICE,"(34.045, -118.2435)"
2013-12-27 20:00:00,2013-12-27,2000,Vandalism,OFFICE BUILDING/OFFICE,"(34.0668, -118.2359)"
2013-01-02 14:10:00,2013-01-02,1410,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0453, -118.2499)"
2013-01-02 18:05:00,2013-01-02,1805,Vandalism,PARKING LOT,"(34.0391, -118.2659)"
2013-01-04 21:00:00,2013-01-04,210,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0488, -118.2483)"
2013-01-09 15:40:00,2013-01-09,1540,Vandalism,MEDICAL/DENTAL OFFICES,"(34.0372, -118.2654)"
2013-01-10 10:00:00,2013-01-10,1000,Vandalism,LIBRARY,"(34.0502, -118.254)"
2013-01-13 19:30:00,2013-01-13,1930,Vandalism,ALLEY,"(34.0384, -118.2305)"
2013-01-15 11:38:00,2013-01-15,1138,Vandalism,HOSPITAL,"(34.0372, -118.2654)"
2013-01-15 17:30:00,2013-01-15,1730,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0446, -118.245)"
2013-01-16 20:00:00,2013-01-16,200,Vandalism,OTHER PREMISE,"(34.0495, -118.2494)"
2013-01-19 10:00:00,2013-01-19,1000,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0433, -118.2504)"
2013-01-19 19:00:00,2013-01-19,1900,Vandalism,CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE),"(34.048, -118.2577)"
2013-01-25 07:00:00,2013-01-25,700,Vandalism,OTHER RESIDENCE,"(34.0359, -118.2344)"
2013-01-29 21:00:00,2013-01-29,2100,Vandalism,SINGLE FAMILY DWELLING,"(34.0683, -118.245)"
2013-01-29 18:30:00,2013-01-29,1830,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0683, -118.245)"
...,...,...,...,...,...
2015-03-25 12:00:00,2015-03-25,1200,Assault,ELEMENTARY SCHOOL,"(33.7938, -118.3027)"
2015-03-29 10:00:00,2015-03-29,100,Assault,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.7801, -118.2608)"
2015-04-05 19:30:00,2015-04-05,1930,Assault,SIDEWALK,"(33.7342, -118.2836)"
2015-04-09 00:47:00,2015-04-09,47,Assault,SIDEWALK,"(33.7739, -118.2678)"
2015-04-09 00:47:00,2015-04-09,47,Assault,SIDEWALK,"(33.7739, -118.2678)"
2015-05-08 18:30:00,2015-05-08,1830,Assault,PARK/PLAYGROUND,"(33.7723, -118.2697)"
2015-05-12 18:30:00,2015-05-12,1830,Assault,SINGLE FAMILY DWELLING,"(33.7797, -118.2687)"
2015-05-12 18:30:00,2015-05-12,1830,Assault,SINGLE FAMILY DWELLING,"(33.7797, -118.2687)"
2015-06-06 14:30:00,2015-06-06,1430,Assault,SIDEWALK,"(33.7895, -118.3043)"
2015-06-18 17:00:00,2015-06-18,1700,Assault,SINGLE FAMILY DWELLING,"(33.7492, -118.2989)"
2015-06-23 20:45:00,2015-06-23,2045,Assault,OTHER BUSINESS,"(33.7379, -118.2857)"
2015-06-24 19:00:00,2015-06-24,1900,Assault,SIDEWALK,"(33.7415, -118.2813)"
2015-06-30 23:55:00,2015-06-30,2355,Assault,LIQUOR STORE,"(33.7795, -118.2715)"
2015-07-10 13:45:00,2015-07-10,1345,Assault,STREET,"(33.7324, -118.2924)"
2015-08-06 19:30:00,2015-08-06,1930,Assault,ALLEY,"(33.7768, -118.2674)"
2015-08-10 12:30:00,2015-08-10,1230,Assault,BANK,"(33.7799, -118.265)"
2015-08-11 21:00:00,2015-08-11,2100,Assault,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.8409, -118.3066)"
2015-08-22 07:30:00,2015-08-22,730,Assault,OTHER BUSINESS,"(33.7517, -118.2931)"
2015-08-31 12:30:00,2015-08-31,1230,Assault,OTHER BUSINESS,"(33.7442, -118.2796)"
2015-09-05 17:00:00,2015-09-05,1700,Assault,STREET,"(33.7433, -118.2813)"
2015-09-13 12:45:00,2015-09-13,1245,Assault,PARKING LOT,"(33.8698, -118.2858)"
2015-10-05 13:30:00,2015-10-05,1330,Assault,PUBLIC STORAGE,"(33.819, -118.3015)"
2015-10-08 22:45:00,2015-10-08,2245,Assault,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(33.7485, -118.2803)"
2015-10-10 12:30:00,2015-10-10,1230,Assault,SINGLE FAMILY DWELLING,"(33.7279, -118.299)"
2015-10-27 10:30:00,2015-10-27,1030,Assault,"DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS ...","(33.8698, -118.2858)"
2015-02-11 08:50:00,2015-02-11,850,Assault,OTHER BUSINESS,"(34.1016, -118.3387)"
2015-03-23 15:38:00,2015-03-23,1538,Assault,OTHER BUSINESS,"(34.0926, -118.3332)"
2015-03-18 16:05:00,2015-03-18,1605,Assault,ALLEY,"(34.1007, -118.3494)"
2015-04-13 18:30:00,2015-04-13,1830,Assault,STREET,"(34.0958, -118.3109)"
2015-05-19 12:00:00,2015-05-19,1200,Assault,LIBRARY,"(34.098, -118.3441)"

In [44]:
la_full = la_full.drop('Date Occurred', 1)
la_full = la_full.drop('Time', 1)

### Examining Crimes

Checking where the most assaults occur. This will be important for our weather question.

In [45]:
blo = la_full[la_full["Primary Type"] == "Assault"]
offence = blo.groupby('Premise Description')[('Primary Type')].count()
offence.sort_values(ascending=False).head()

Premise Description
STREET                                          31318
SINGLE FAMILY DWELLING                          26216
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    24583
SIDEWALK                                        20196
PARKING LOT                                      8520
Name: Primary Type, dtype: int64

In [46]:
blo = la_full[la_full["Primary Type"] == "Vandalism"]
offence = blo.groupby('Premise Description')[('Primary Type')].count()
offence.sort_values(ascending=False).head()

Premise Description
VEHICLE, PASSENGER/TRUCK                        36031
STREET                                          13937
SINGLE FAMILY DWELLING                          12472
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    10330
PARKING LOT                                      5800
Name: Primary Type, dtype: int64

In [47]:
la_full.head()

,Primary Type,Premise Description,Location
Date,,,
2013-01-31 21:50:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"

In [48]:
#la_full = la_full.drop('Premise Description', 1)

In [49]:
la_full.head()

,Primary Type,Premise Description,Location
Date,,,
2013-01-31 21:50:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"

In [50]:
#la_full = la_full.drop('Location', 1)

In [51]:
la_full.head()

,Primary Type,Premise Description,Location
Date,,,
2013-01-31 21:50:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0688, -118.2394)"
2013-02-16 21:40:00,Vandalism,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)","(34.0433, -118.2504)"
2013-03-19 21:30:00,Vandalism,POLICE FACILITY,"(34.0446, -118.245)"
2013-05-27 22:20:00,Vandalism,"VEHICLE, PASSENGER/TRUCK","(34.0419, -118.2485)"
2013-06-01 23:00:00,Vandalism,OTHER RESIDENCE,"(34.0445, -118.2523)"

In [52]:
la_full.to_csv('../../data/prep/200_LA.csv')