# NBA Preparation 2

Preparing the NBA dataset for our weather question...

In [20]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
if not os.path.exists( "../../data/prep/600_NBA.csv" ):
    print("Missing dataset file")

In [22]:
nba = pd.read_csv("../../data/prep/600_NBA.csv")
nba.shape

(5354, 9)

In [23]:
nba.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Attend.,Result,Difference
0,2007-10-30,7:30 pm,Houston Rockets,95,Los Angeles Lakers,93,18997.0,Away Win,2
1,2007-10-31,8:30 pm,Seattle SuperSonics,103,Denver Nuggets,120,19380.0,Home Win,-17
2,2007-10-31,7:30 pm,Chicago Bulls,103,New Jersey Nets,112,17342.0,Home Win,-9
3,2007-10-31,7:00 pm,Philadelphia 76ers,97,Toronto Raptors,106,19800.0,Home Win,-9
4,2007-11-02,8:00 pm,Washington Wizards,83,Boston Celtics,103,18624.0,Home Win,-20

### Rounding Dates

In [24]:
nba['Date'] = pd.to_datetime(nba['Date'].apply(str)+' '+nba['Start (ET)'])

In [25]:
nba['Date'] = nba['Date'].dt.round('60min')

In [26]:
nba.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Attend.,Result,Difference
0,2007-10-30 20:00:00,7:30 pm,Houston Rockets,95,Los Angeles Lakers,93,18997.0,Away Win,2
1,2007-10-31 20:00:00,8:30 pm,Seattle SuperSonics,103,Denver Nuggets,120,19380.0,Home Win,-17
2,2007-10-31 20:00:00,7:30 pm,Chicago Bulls,103,New Jersey Nets,112,17342.0,Home Win,-9
3,2007-10-31 19:00:00,7:00 pm,Philadelphia 76ers,97,Toronto Raptors,106,19800.0,Home Win,-9
4,2007-11-02 20:00:00,8:00 pm,Washington Wizards,83,Boston Celtics,103,18624.0,Home Win,-20

In [27]:
nba = nba.set_index('Date')

In [28]:
nba.head()

,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Attend.,Result,Difference
Date,,,,,,,,
2007-10-30 20:00:00,7:30 pm,Houston Rockets,95,Los Angeles Lakers,93,18997.0,Away Win,2
2007-10-31 20:00:00,8:30 pm,Seattle SuperSonics,103,Denver Nuggets,120,19380.0,Home Win,-17
2007-10-31 20:00:00,7:30 pm,Chicago Bulls,103,New Jersey Nets,112,17342.0,Home Win,-9
2007-10-31 19:00:00,7:00 pm,Philadelphia 76ers,97,Toronto Raptors,106,19800.0,Home Win,-9
2007-11-02 20:00:00,8:00 pm,Washington Wizards,83,Boston Celtics,103,18624.0,Home Win,-20

In [29]:
nba = nba.drop(nba.columns[[0, 2, 4, 5, 6, 7]], axis=1)

In [30]:
nba.head()

                         Visitor/Neutral        Home/Neutral
Date
2007-10-30 20:00:00      Houston Rockets  Los Angeles Lakers
2007-10-31 20:00:00  Seattle SuperSonics      Denver Nuggets
2007-10-31 20:00:00        Chicago Bulls     New Jersey Nets
2007-10-31 19:00:00   Philadelphia 76ers     Toronto Raptors
2007-11-02 20:00:00   Washington Wizards      Boston Celtics

In [32]:
nba.to_csv("../../data/prep/700_NBA.csv")