# NFL Preparation 2

Preparing NFL dataset for WEATHER question...

In [13]:
import os.path
import datetime
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
if not os.path.exists( "../../data/prep/710_NFL.csv" ):
    print("Missing dataset file")

In [15]:
nfl = pd.read_csv("../../data/prep/710_NFL.csv")
nfl.shape

(373, 7)

In [16]:
nfl.tail()

,kickoff,Home/Neutral,PTS.1,PTS,Visitor/Neutral,Result,Difference
368,2014-12-21 18:00:00,Dolphins,37,35,Vikings,Home Win,2
369,2014-12-23 01:30:00,Bengals,37,28,Broncos,Home Win,9
370,2014-12-28 18:00:00,Vikings,13,9,Bears,Home Win,4
371,2014-12-28 21:25:00,Broncos,47,14,Raiders,Home Win,33
372,2015-01-11 21:40:00,Broncos,13,24,Colts,Away Win,-11

In [17]:
nfl['kickoff'] = pd.to_datetime(nfl['kickoff'])

In [18]:
nfl['Date'] = nfl['kickoff'].dt.round('60min')

In [19]:
nfl.head()

,kickoff,Home/Neutral,PTS.1,PTS,Visitor/Neutral,Result,Difference,Date
0,2007-09-09,Bills,14,15,Broncos,Away Win,-1,2007-09-09
1,2007-09-09,Chargers,14,3,Bears,Home Win,11,2007-09-09
2,2007-09-09,Vikings,24,3,Falcons,Home Win,21,2007-09-09
3,2007-09-16,Bears,20,10,Chiefs,Home Win,10,2007-09-16
4,2007-09-16,Broncos,23,20,Raiders,Home Win,3,2007-09-16

In [20]:
nfl = nfl.set_index('Date')

In [21]:
nfl.tail()

,kickoff,Home/Neutral,PTS.1,PTS,Visitor/Neutral,Result,Difference
Date,,,,,,,
2014-12-21 18:00:00,2014-12-21 18:00:00,Dolphins,37,35,Vikings,Home Win,2
2014-12-23 02:00:00,2014-12-23 01:30:00,Bengals,37,28,Broncos,Home Win,9
2014-12-28 18:00:00,2014-12-28 18:00:00,Vikings,13,9,Bears,Home Win,4
2014-12-28 21:00:00,2014-12-28 21:25:00,Broncos,47,14,Raiders,Home Win,33
2015-01-11 22:00:00,2015-01-11 21:40:00,Broncos,13,24,Colts,Away Win,-11

In [22]:
nfl = nfl.drop(nfl.columns[[0, 2, 3, 5, 6]], axis=1)

In [23]:
nfl.head()

           Home/Neutral Visitor/Neutral
Date
2007-09-09        Bills         Broncos
2007-09-09     Chargers           Bears
2007-09-09      Vikings         Falcons
2007-09-16        Bears          Chiefs
2007-09-16      Broncos         Raiders

In [24]:
nfl.to_csv("../../data/prep/800_NFL.csv")