# NFL Preparation

In [89]:
import os.path
import datetime
import pandas as pd
import numpy as np
from operator import methodcaller
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [90]:
if not os.path.exists( "../../data/raw/NFL07-14.csv" ):
    print("Missing dataset file")

In [91]:
nfl = pd.read_csv("../../data/raw/NFL07-14.csv")
nfl.shape

(2135, 7)

In [92]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2135 entries, 0 to 2134
Data columns (total 7 columns):
season            2135 non-null int64
week              2135 non-null int64
kickoff           2135 non-null object
home_team         2135 non-null object
home_score        2135 non-null int64
visitors_score    2135 non-null int64
visiting_team     2135 non-null object
dtypes: int64(4), object(3)
memory usage: 116.8+ KB

In [93]:
nfl['kickoff'] = pd.to_datetime(nfl['kickoff'])

In [94]:
nfl = nfl.set_index('kickoff')

In [95]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2135 entries, 2007-09-06 00:00:00 to 2015-02-01 23:30:00
Data columns (total 6 columns):
season            2135 non-null int64
week              2135 non-null int64
home_team         2135 non-null object
home_score        2135 non-null int64
visitors_score    2135 non-null int64
visiting_team     2135 non-null object
dtypes: int64(4), object(2)
memory usage: 116.8+ KB

In [96]:
nfl.tail()

,season,week,home_team,home_score,visitors_score,visiting_team
kickoff,,,,,,
2015-01-11 18:05:00,2014,19,Packers,26,21,Cowboys
2015-01-11 21:40:00,2014,19,Broncos,13,24,Colts
2015-01-18 20:00:00,2014,20,Seahawks,28,22,Packers
2015-01-18 23:30:00,2014,20,Patriots,45,7,Colts
2015-02-01 23:30:00,2014,21,Seahawks,24,28,Patriots

In [97]:
nfl = nfl.drop(nfl.columns[[0, 1]], axis=1)

In [98]:
nfl.head()

           home_team  home_score  visitors_score visiting_team
kickoff
2007-09-06     Colts          41              10        Saints
2007-09-09     Bills          14              15       Broncos
2007-09-09    Browns           7              34      Steelers
2007-09-09  Chargers          14               3         Bears
2007-09-09   Cowboys          45              35        Giants

In [99]:
nfl.tail()

                    home_team  home_score  visitors_score visiting_team
kickoff
2015-01-11 18:05:00   Packers          26              21       Cowboys
2015-01-11 21:40:00   Broncos          13              24         Colts
2015-01-18 20:00:00  Seahawks          28              22       Packers
2015-01-18 23:30:00  Patriots          45               7         Colts
2015-02-01 23:30:00  Seahawks          24              28      Patriots

In [100]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2135 entries, 2007-09-06 00:00:00 to 2015-02-01 23:30:00
Data columns (total 4 columns):
home_team         2135 non-null object
home_score        2135 non-null int64
visitors_score    2135 non-null int64
visiting_team     2135 non-null object
dtypes: int64(2), object(2)
memory usage: 83.4+ KB

In [101]:
nfl.shape

(2135, 4)

In [102]:
nfl.isnull().sum()

home_team         0
home_score        0
visitors_score    0
visiting_team     0
dtype: int64

In [103]:
conditions = [
    (nfl['visitors_score'] < nfl['home_score']),
    (nfl['visitors_score'] == nfl['home_score'])]
choices = ['Home Win', 'Draw']
nfl['Result'] = np.select(conditions, choices, default='Away Win')

In [104]:
nfl.head()

           home_team  home_score  visitors_score visiting_team    Result
kickoff
2007-09-06     Colts          41              10        Saints  Home Win
2007-09-09     Bills          14              15       Broncos  Away Win
2007-09-09    Browns           7              34      Steelers  Away Win
2007-09-09  Chargers          14               3         Bears  Home Win
2007-09-09   Cowboys          45              35        Giants  Home Win

In [105]:
pt = nfl.groupby('visiting_team')[('home_team')].count()

In [106]:
nfl['Difference'] = nfl['home_score'] - nfl['visitors_score']

In [107]:
nfl.head()

,home_team,home_score,visitors_score,visiting_team,Result,Difference
kickoff,,,,,,
2007-09-06,Colts,41,10,Saints,Home Win,31
2007-09-09,Bills,14,15,Broncos,Away Win,-1
2007-09-09,Browns,7,34,Steelers,Away Win,-27
2007-09-09,Chargers,14,3,Bears,Home Win,11
2007-09-09,Cowboys,45,35,Giants,Home Win,10

In [108]:
pt

visiting_team
49ers         68
Bears         64
Bengals       67
Bills         64
Broncos       65
Browns        64
Buccaneers    64
Cardinals     67
Chargers      69
Chiefs        65
Colts         69
Cowboys       66
Dolphins      64
Eagles        68
Falcons       66
Giants        71
Jaguars       66
Jets          69
Lions         66
Packers       70
Panthers      65
Patriots      66
Raiders       64
Rams          64
Ravens        77
Redskins      65
Saints        69
Seahawks      69
Steelers      67
Texans        66
Titans        65
Vikings       66
Name: home_team, dtype: int64

In [109]:
nfl = nfl[(nfl.values  == "Broncos")|(nfl.values  == "Bears" )|(nfl.values  == "Vikings" ) ]

In [110]:
nfl.shape

(397, 6)

In [111]:
p1 = nfl.groupby('visiting_team')[('visitors_score')].count()
p1.sort_values(ascending = False)

visiting_team
Vikings       75
Bears         73
Broncos       67
Packers       18
Lions         17
Chargers      11
Chiefs        10
Raiders       10
Seahawks       7
Saints         7
Eagles         7
Buccaneers     6
Cowboys        6
Giants         6
Steelers       6
Redskins       5
Panthers       5
Patriots       5
Colts          5
Jaguars        5
Cardinals      5
Jets           4
Texans         4
Bills          4
Browns         4
Ravens         4
Dolphins       4
Falcons        4
Titans         4
Rams           3
Bengals        3
49ers          3
Name: visitors_score, dtype: int64

In [112]:
nfl.duplicated().sum()

24

In [113]:
nfl.duplicated()

kickoff
2007-09-09 00:00:00    False
2007-09-09 00:00:00    False
2007-09-09 00:00:00    False
2007-09-16 00:00:00    False
2007-09-16 00:00:00    False
2007-09-16 00:00:00    False
2007-09-23 00:00:00    False
2007-09-23 00:00:00    False
2007-09-23 00:00:00    False
2007-09-30 00:00:00    False
2007-09-30 00:00:00    False
2007-09-30 00:00:00    False
2007-10-07 00:00:00    False
2007-10-07 00:00:00    False
2007-10-14 00:00:00    False
2007-10-14 00:00:00     True
2007-10-21 00:00:00    False
2007-10-21 00:00:00    False
2007-10-21 00:00:00    False
2007-10-28 00:00:00    False
2007-10-28 00:00:00    False
2007-10-29 00:00:00    False
2007-11-04 00:00:00    False
2007-11-04 00:00:00    False
2007-11-11 00:00:00    False
2007-11-11 00:00:00    False
2007-11-11 00:00:00    False
2007-11-18 00:00:00    False
2007-11-18 00:00:00    False
2007-11-19 00:00:00    False
                       ...
2014-10-20 00:30:00    False
2014-10-24 00:25:00    False
2014-10-26 17:00:00    False
2014-10-26 17:00:00    False
2014-11-02 17:00:00    False
2014-11-02 20:25:00    False
2014-11-09 21:05:00    False
2014-11-10 01:30:00    False
2014-11-16 18:00:00    False
2014-11-16 18:00:00     True
2014-11-16 18:00:00    False
2014-11-23 18:00:00    False
2014-11-23 18:00:00    False
2014-11-23 21:25:00    False
2014-11-28 05:30:00    False
2014-11-30 18:00:00    False
2014-12-01 01:30:00    False
2014-12-05 01:25:00    False
2014-12-07 18:00:00    False
2014-12-07 21:05:00    False
2014-12-14 18:00:00    False
2014-12-14 21:05:00    False
2014-12-16 01:30:00    False
2014-12-21 18:00:00    False
2014-12-21 18:00:00    False
2014-12-23 01:30:00    False
2014-12-28 18:00:00    False
2014-12-28 18:00:00     True
2014-12-28 21:25:00    False
2015-01-11 21:40:00    False
Length: 397, dtype: bool

In [114]:
nfl = nfl.drop_duplicates(keep = 'first')

In [115]:
nfl.duplicated().sum()

0

In [116]:
nfl.head()

,home_team,home_score,visitors_score,visiting_team,Result,Difference
kickoff,,,,,,
2007-09-09,Bills,14,15,Broncos,Away Win,-1
2007-09-09,Chargers,14,3,Bears,Home Win,11
2007-09-09,Vikings,24,3,Falcons,Home Win,21
2007-09-16,Bears,20,10,Chiefs,Home Win,10
2007-09-16,Broncos,23,20,Raiders,Home Win,3

In [117]:
nfl = nfl.rename(index=str, columns={"home_team": "Home/Neutral", "home_score": "PTS.1", "visitors_score": "PTS", "visiting_team": "Visitor/Neutral"})

In [118]:
nfl.head()

,Home/Neutral,PTS.1,PTS,Visitor/Neutral,Result,Difference
kickoff,,,,,,
2007-09-09 00:00:00,Bills,14,15,Broncos,Away Win,-1
2007-09-09 00:00:00,Chargers,14,3,Bears,Home Win,11
2007-09-09 00:00:00,Vikings,24,3,Falcons,Home Win,21
2007-09-16 00:00:00,Bears,20,10,Chiefs,Home Win,10
2007-09-16 00:00:00,Broncos,23,20,Raiders,Home Win,3

In [119]:
nfl.to_csv('../../data/prep/710_NFL.csv')

In [120]:
nfl1 = nfl

In [121]:
nfl1 = nfl1.reset_index()

In [122]:
nfl1.head()

,kickoff,Home/Neutral,PTS.1,PTS,Visitor/Neutral,Result,Difference
0,2007-09-09 00:00:00,Bills,14,15,Broncos,Away Win,-1
1,2007-09-09 00:00:00,Chargers,14,3,Bears,Home Win,11
2,2007-09-09 00:00:00,Vikings,24,3,Falcons,Home Win,21
3,2007-09-16 00:00:00,Bears,20,10,Chiefs,Home Win,10
4,2007-09-16 00:00:00,Broncos,23,20,Raiders,Home Win,3

In [123]:
nfl1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 7 columns):
kickoff            373 non-null object
Home/Neutral       373 non-null object
PTS.1              373 non-null int64
PTS                373 non-null int64
Visitor/Neutral    373 non-null object
Result             373 non-null object
Difference         373 non-null int64
dtypes: int64(3), object(4)
memory usage: 20.5+ KB

In [124]:
nfl1['kickoff'] = pd.to_datetime(nfl1['kickoff'])

In [125]:
nfl1['kickoff'] = nfl1['kickoff'].dt.date

In [126]:
nfl1.head()

      kickoff Home/Neutral  PTS.1  PTS Visitor/Neutral    Result  Difference
0  2007-09-09        Bills     14   15         Broncos  Away Win          -1
1  2007-09-09     Chargers     14    3           Bears  Home Win          11
2  2007-09-09      Vikings     24    3         Falcons  Home Win          21
3  2007-09-16        Bears     20   10          Chiefs  Home Win          10
4  2007-09-16      Broncos     23   20         Raiders  Home Win           3

In [127]:
nfl1 = nfl1.set_index('kickoff')

In [128]:
nfl1.head()

           Home/Neutral  PTS.1  PTS Visitor/Neutral    Result  Difference
kickoff
2007-09-09        Bills     14   15         Broncos  Away Win          -1
2007-09-09     Chargers     14    3           Bears  Home Win          11
2007-09-09      Vikings     24    3         Falcons  Home Win          21
2007-09-16        Bears     20   10          Chiefs  Home Win          10
2007-09-16      Broncos     23   20         Raiders  Home Win           3

In [129]:
nfl1.to_csv('../../data/prep/700_NFL.csv')